@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
:root 
{
	--Lightbrown: #9c6644;
	--Darkbrown: #7f5539;
	--brown: #b08968;
	--brown1: #ddb892;
	--brown2: #e6ccb2;
    --brown3:#ede0d4;
    --white:#fff;
}
body 
{
	min-height: 100vh;
	overflow-x: hidden;
}
.container
{
	position: relative;
	width: 100%;
}
.navigation 
{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--brown2);
	border-left: 10px solid var(--brown2);
	transition: 0.5s;
	overflow: hidden;
}
.navigation.active 
{
	width: 80px;
}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li 
{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
	background: var(--white);
}
.navigation ul li:nth-child(1)
{
	margin-bottom: 40px;
	pointer-events: none;
}
.navigation ul li a 
{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--Darkbrown);
}
.navigation ul li:hover a ,
.navigation ul li.hovered a 
{
	color: var(--Darkbrown);
    font-size:medium;
    font-weight: bolder;
}
.navigation ul li a .icon 
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}
.navigation ul li a .icon ion-icon 
{
	font-size: 1.75em;
}
.navigation ul li a .title 
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before, 
.navigation ul li.hovered a::before 
{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after 
{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--white);
	pointer-events: none;
}
