@import url("https://fonts.googleapis.com/css2?family=Montserrat:400,800");

*{
    box-sizing: border-box;
}

body{
    background: #f8e7d6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat",sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

h1{
    font-size: bold;
    /* margin: 0; */
    margin-top: 20px;
}

.heding{
    color: #7f5539;
}

h2{
    text-align: center;
}

p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span{
    font-size: 12px;
}

a{
    color: var(#7f5539);
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    border-radius: 20px;
    color: white;
    background: #b08968;
    border: 1px solid #b08968;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:hover{
    cursor: pointer;
    background: #f8e7d6;
    color: #7f5539;
}

button:active{
    transform: scale(0.95);
}

button:focus{
    outline: none;
}

button.ghost{
    background-color: transparent;
    border-color: #f8e7d6;
}

form{
    background-color: #f8e7d6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input{
    background-color: #f8e7d6;
    border: 1px solid #7f5539;
    border-radius: 11px;
    padding: 12px 15px;
    margin: 10px 0;
    width: 90%;
}

input:focus{
    border: none;
    outline: 3px solid #b08968;
}

.container{
    background-color: #f8e7d6;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signin-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .signin-container{
    transform: translateX(100%);
}

.register-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .register-container{
    transform: translate(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show{
    0%,
    49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%,
    100%{
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay{
    /* background: rgb(238, 164, 103);
    background: #b08968;
    background: #b08968; */
    background-image: url(/assest/image/loginpage.jpg);
    opacity:85%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay{
    transform: translateX(50%);
}

.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left{
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left{
    transform: translateX(0);
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}

#register:hover{
   color: white;
}

#signIn1:hover{
    color: white;
}

#reg{
    margin-top: 20px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* make sure it's on top */
    display: none; /* hide it by default */
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px; /* Size of the loader */
    height: 60px; /* Size of the loader */
    animation: spin 1s linear infinite; /* Animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* notification message */
.toast {
    visibility: hidden;
    min-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 9999; 
    top: 20px;  
    right: 20px; 
    font-size: 17px;
}
  
.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
.toast-success {
    background-color: #28a745;
}

.toast-error {
    background-color: #dc3545; 
}
  
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
  
  
  
  