@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

#OrdersForm{
    display: none;
}

.OrdersHeader-section{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.OrdersHeader-section h2{
    margin-left: 40px;
    font-size: 35px;
    color: #7f5539;
}

.OrdersHeader-section h2 span{
    font-size: 25px;
    color: #b08968;
}