@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.OrdersForm{
    display: none;
}

.FormTitle{
    margin-left: 40px;
    font-size: 35px;
    color: #7f5539;
    margin-top: 10px;
}

.FormTitle span{
    font-size: 25px;
    color: #b08968;
}

.OrderFields{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;   */
}

.menu{
    margin-left: 170px;
    margin-top: -5px; 
    color: #7f5539;
}

.OrdersHeader-section{
    height: 500px;
    width: 450px;
    margin-left: 40px; 
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f8e7d6;

}

.cart-section{
    margin-top: 20px;
    margin-left:62px;
    height: 350px;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f8e7d6;
    color: #7f5539;
}

.title-orderHeader-contianer{
    display: flex;
    flex-direction: row;
}

.order-title{
    margin-top: -5px;
}

.date{
    margin-left: 60px;
    margin-top: 2px;
    color: #ffb483;
}

#order-id{
    margin-top: 20px;
    font-size: large;
}

.customer-select-container{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 40px;
}

#name-holder{
    font-weight: 400;
}

.customer-select{
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    background-color: #ffb483;
}