@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

#ProductsForm{
    display: none;
}

.productHeader-section{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.productHeader-section h2{
    margin-left: 40px;
    font-size: 35px;
    color: #7f5539;
}

.productHeader-section h2 span{
    font-size: 25px;
    color: #b08968;
}

.add-product-button{
    margin-left: 55%;
    margin-top: 5px;
    width: 130px;
    padding: 12px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    color: white;
    background: #b08968;
    border: 1px solid #b08968;
}

.add-product-button:hover{
    cursor: pointer;
    background: #f8e7d6;
    color: #7f5539;
}

/* ------------------ Add Product Form ------------------ */

.productRegisterForm{
    display: none;
    position: fixed; 
}

.productRegisterForm{
    padding: 10px;
    margin-top: 40px;
    margin-left: 200px;
    border-radius: 15px;
    height: 420px;
    width: 600px;
    background-color: #f8e7d6;
}

.product-close{
    margin-left: 550px;
    font-size: 20px;
    font-weight: bold;
    color: #7f5539;
}

.product-close:hover,
.product-close:focus{
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 25, 25);
}

.productRegisterForm h2{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #7f5539;
    text-align: center;
}

.RegisterForm img{
    width: 300px;
    height: 250px;
    margin-left: -5px;
    margin-top: 25px;
}

.product-form{
    display: flex;
    flex-direction: column;
    margin-top: -260px;
}

.product-form input{
    margin-left: 310px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 10px;
    color: #7f5539;
    background-color: white;
    border: none;
    font-weight: 500;
}

.product-form button{
    width: 100px;
    height: 28px;  
    margin-top: 25px;
    margin-left: 375px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
    color: white;
    background: #b08968;
    border: 1px solid #b08968;
}

.product-form button:hover{
    cursor: pointer;
    background: #f8e7d6;
    color: #7f5539;
}

.product-form-row input:focus{
    outline: 2px solid #b08968;
}

/* ------------------ product Details Table ------------------ */
.product-table{
    width: 95%;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 22px;
    margin-top: 60px;
    color: #7f5539;
}

.product-table th,
.product-table td{
    padding: 10px;
    /* border: 1px solid #b08968; */
    text-align: center;

}

.product-table th{
    background-color: #f8e7d6;
}



